/* Globals */

/* Font Face */
@font-face {
  font-family: "Inter";
  src: url(../font/inter.ttf);
}

*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --cs-1: #79beee;
  --cs-2: #f8ffe5;
  --cs-3: #6afba4;
  --cs-4: #3b376a;
  --normal-text: #1a1a1a;
  --bg-gradient: linear-gradient(0deg, #3b376a 0%, #008fba 50%, #ff95d5 100%);
  --transform-center: translate(-50%, 50%);
  --black: #000;
  --white: #fff;
  --font-name: "Inter";
}

/* Resets */

img {
  display: block;
  width: 100%;
}

button {
  font-family: inherit;
}

h2 {
  margin: 0;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
}

/* Components */

/* Landing Buttons */
.btn-landing {
  background-color: transparent;
  padding: 1rem 2rem;
  border: none;
  outline: none;
  font-size: 20px;
  text-transform: lowercase;
  color: var(--white);
  font-weight: 600;
  flex: 1;
}

.btn-landing:first-of-type {
  margin-bottom: 1rem;
}

.btn-shadow {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.btn-landing.btn-newplan {
  background-color: var(--cs-3);
}

.btn-landing.btn-viewplan {
  border: 1px solid var(--white);
}

html {
  overflow: hidden;
}

body {
  position: relative;
  font-family: var(--font-name);
  text-rendering: geometricPrecision;
  image-rendering: optimizeQuality;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow-x: hidden;
}

body.land {
  background: var(--bg-gradient);
  background-repeat: no-repeat;
}

body.new {
  background-color: var(--cs-4) !important;
}

/* App Logo */

.appimg-landing {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: var(--transform-center);
  width: 700px;
}

/* Landing Div */

.landing {
  width: 100vw;
}

/* Landing Buttons Div */

.landing-btns {
  position: absolute;
  bottom: 10%;
  left: 50%;
  display: flex;
  transform: var(--transform-center);
  flex-direction: column;
  width: 85%;
}

/* New Plan CSS */

.content {
  width: 100%;
}

.quad-grid {
  display: grid;
  grid-template-columns: 1fr;
}

.top-title {
  color: var(--white);
  text-shadow: 0px 0px 7px var(--white);
  text-transform: lowercase;
  text-align: center;
  padding-top: 1rem;
}

.interactive {
  position: relative;
  margin-bottom: 1rem;
}

.quad {
  background-color: rgba(217, 217, 217, 0.3);
}

.quadrant-top {
  position: absolute;
  display: flex;
  align-items: center;
  z-index: 999;
  width: 100%;
}

.quad-number {
  font-size: 60px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.6);
  margin-right: 3rem;
  margin-left: 0.5rem;
}

.quad-titles {
  display: flex;
  flex-direction: column;
}

.quadrant-title {
  font-size: 30px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.6);
  text-align: right;
}

.bottom-nav {
  position: fixed;
  display: flex;
  bottom: 0;
  left: 0;
  background-color: var(--cs-3);
  width: 100vw;
  padding: 0.25rem 0.5rem;
}

.bottom-nav img {
  display: inline;
  width: 75px;
}

.nav-right {
  text-align: right;
}
