/* DEFAULT STYLESHEET
/* Y Club Wrestling
/* Version: 1.0
/* Created: 01/01/24
/* Modified: 

/* IMPORT FONTS */

@font-face {
  font-family: "Inter";
  src: local("Inter"), url(../fonts/inter.ttf) format("truetype");
}

/* GLOBAL RESETS */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol,
menu {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  width: 100%;
}

button {
  font-family: inherit;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
}

p {
  line-height: 1.5 !important;
}

/* GLOBAL VARIABLES */

:root {
  /* Colour Scheme */
  --ycw-cs1: #e30000;
  --ycw-cs2: #1e1e1e;
  --ycw-cs3: #fff;
}

/* HTML */

html {
  scroll-behavior: smooth;
}

/* UTILITIES */

/* Logos */
.club-logo.club-logo__main {
  width: 150px;
}

/* Nav Socials / Logos */
.nav-social {
  width: 25px;
}

/* Hero CTA buttons */
.hero-btn {
  background-color: var(--ycw-cs1);
  border: none;
  color: inherit;
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 250ms ease;
  align-self: flex-start;
}

.hero-btn:hover {
  transform: translateY(1px);
  background-color: var(--ycw-cs3);
  color: var(--ycw-cs2);
  border-bottom: 10px solid var(--ycw-cs1);
}

/* Article buttons */

.article-btn {
  border: none;
  background-color: transparent;
  padding: 1rem 2.5rem;
  text-transform: uppercase;
}

.article-btn__red {
  background-color: var(--ycw-cs1);
  color: var(--ycw-cs3);
  font-weight: 600;
}

/* Main socials / logos */

.main-social {
  width: 100px !important;
}

/* Section headers */

.section-header {
  font-size: 32px !important;
  font-weight: 600;
  text-transform: uppercase;
}

/* BODY */

body {
  font-family: "Inter", sans-serif;
  text-rendering: geometricPrecision;
}

/* HEADER */

header {
  position: relative;
  background: url(../img/nav/herobg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 70vh;
}

/* HEADER > NAV */
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  color: var(--ycw-cs3);
}

/* HEADER > NAV > LINKS & SOCIALS */

header nav .nav-links li,
header nav .nav-socials .ns-logos li {
  display: inline;
}

header nav .nav-links li {
  transition: all 250ms ease-out;
}

header nav .nav-links li:hover {
  color: var(--ycw-cs1);
}

header nav .nav-links li:not(:last-of-type) {
  margin-right: 1.5rem;
}

header nav .nav-links li.nl-cta {
  background-color: var(--ycw-cs1) !important;
  padding: 0.5rem 1rem;
  transition: all 250ms ease-out;
}

header nav .nav-links li.nl-cta:hover {
  background-color: var(--ycw-cs3) !important;
  color: var(--ycw-cs2);
}

/* NAV SOCIALS */

header nav .nav-socials {
  display: flex;
  flex-direction: column;
}

header nav .nav-socials .ns-text {
  align-self: flex-start;
}

header nav .nav-socials .ns-logos {
  align-self: flex-end;
  margin-top: 0.25rem;
}

header nav .nav-socials .ns-logos .nav-social {
  display: inline !important;
}

header nav .nav-socials .ns-logos .nav-social {
  margin-left: 0.5rem;
}

/* HERO AREA */

header .hero-area {
  position: absolute;
  top: 50%;
  left: 2rem;
  color: var(--ycw-cs3);
}

header .hero-area .hero .hero-main {
  font-size: 20px;
  text-transform: uppercase;
}

header .hero-area .hero .hero-main.hero-main__large {
  font-size: 62px;
  font-weight: 800 !important;
}

/* HERO CTA */

header .hero-area .hero .hero-btns {
  display: flex;
  gap: 20px;
  margin-top: 1rem;
}

/* MAIN */

main .main-area {
  display: flex;
  flex-direction: column;
}

/* MAIN > MAIN AREA > FRONT PAGE ARTICLE */

main .main-area .front-article {
  display: flex;
}

/* FRONT PAGE ARTICLE > IMG CONTAINER */

main .main-area .front-article .img-container {
  order: 1;
  flex: 1;
  flex-basis: 50%;
}

main .main-area .front-article .img-container .fa-img {
  max-width: 800px;
}

main .main-area .front-article .content {
  order: 0;
  padding: 2.5rem 2rem;
  flex: 1;
  flex-basis: 50%;
}

main .main-area .front-article .content .article-heading {
  color: var(--ycw-cs1);
}

main
  .main-area
  .front-article
  .content
  .article-heading.article-heading__front {
  font-weight: 600;
  text-transform: uppercase;
}

main .main-area .front-article .content .article-main-heading {
  font-size: 26px;
  font-weight: 600;
}

main .main-area .front-article .content .article-para {
  margin-top: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

main .club-history {
  background-color: var(--ycw-cs2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .club-history .clubhistory-bg {
  width: 95vw;
}

main .club-history .ch-container {
  position: relative;
  color: var(--ycw-cs3);
  padding-top: 3rem;
  width: 100% !important;
}

main .club-history .ch-container .ch-wrapper {
  position: absolute;
  text-align: center;
  padding: 0 2.5rem;
}

main .club-history .ch-container .ch-wrapper .ch-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
}

main
  .club-history
  .ch-container
  .ch-wrapper
  .ch-content
  .ch-top
  .section-header {
  font-size: 55px;
}

main .club-history .ch-container .ch-wrapper .ch-content .ch-history .ch-para {
  margin-top: 2rem;
}

main .main-socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 4rem !important;
}

main .main-socials .section-header.section-header__socials {
  margin-bottom: 6rem !important;
}

main .main-socials .socials-container .main-social {
  display: inline;
}

main .main-socials .socials-container .main-social:not(:last-child) {
  margin-right: 3rem;
}

footer .footer-contact {
  /* padding: 1rem 2rem; */
  background-color: var(--ycw-cs1);
  padding-top: 4rem;
}

footer .footer-contact .section-header.section-header__footer {
  color: var(--ycw-cs3);
  text-align: center;
  font-size: 999px;
}

footer .footer-contact .contact-container {
  display: flex;
  flex-direction: column !important;
  gap: 10px;
  color: var(--ycw-cs3);
}

footer .footer-contact .contact-container .contact-item {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
}

footer .footer-contact .contact-container .contact-item .contact {
  font-size: 20px;
}

footer .footer-contact .contact-container .contact-item .contact.contact-title {
  font-weight: 600;
}

footer .footer-contact .contact-area {
  padding-top: 4rem !important;
}

footer .footer-nav .footer-container.footer-container__nav {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 60px;
}

footer
  .footer-nav
  .footer-container.footer-container__nav
  .club-logo.club-logo__main {
  align-self: flex-start !important;
  margin-right: 3rem;
}

footer
  .footer-nav
  .footer-container.footer-container__nav
  .footer-list
  .li-head {
  color: var(--ycw-cs1) !important;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 22px;
  margin-bottom: 1rem;
}

footer
  .footer-nav
  .footer-container.footer-container__nav
  .footer-list
  li:not(:first-child) {
  font-weight: 600;
  margin-top: 0.2rem;
}

footer .footer-social {
  width: 30px;
  display: inline-block;
  margin-right: 0.25rem;
}

footer .footer-list.footer-list_socials .li-not-li {
  display: block !important;
}

footer
  .footer-nav
  .footer-list.footer-list_newsletter
  .newsletter-box
  .news-container {
  position: relative;
  margin-top: 0.5rem;
}

footer
  .footer-nav
  .footer-list.footer-list_newsletter
  .newsletter-box
  .news-container
  .newsletter {
  padding: 0.75rem 0.75rem 0.75rem 1rem;
  width: 400px;
  background-color: #1e1e1e38;
  border: none;
}

footer
  .footer-nav
  .footer-list.footer-list_newsletter
  .newsletter-box
  .news-container
  .newsletter:active {
  outline: 2px solid var(--ycw-cs1);
}

footer
  .footer-nav
  .footer-list.footer-list_newsletter
  .newsletter-box
  .news-container
  .newsletter:focus {
  outline: 4px solid var(--ycw-cs2);
}

footer
  .footer-nav
  .footer-list.footer-list_newsletter
  .newsletter-box
  .news-container
  .footer-btn {
  position: absolute;
  right: 0;
  background-color: var(--ycw-cs1);
  color: var(--ycw-cs3);
  border: none;
  height: 100%;
  padding: 0.5rem 1rem;
}

footer
  .footer-nav
  .footer-list.footer-list_newsletter
  .newsletter-box
  .news-container
  .footer-btn:focus {
  background-color: var(--ycw-cs2);
  color: var(--ycw-cs3);
}

footer .footer-end {
  background-color: var(--ycw-cs2);
  color: var(--ycw-cs3);
  padding: 1rem 2rem;
}

footer .footer-end .footer-container {
  display: flex;
  justify-content: space-between;
}
