/* Globals */

@font-face {
  font-family: "Inter";
  src: url(/fonts/inter.ttf);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --ff: "Inter";
  --cs1: #3452f1;
  --cs2: #fff;
  --cs3: #eef4ed;
  --w: #fff;
  --text: #1f1f1f;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff);
}

/* Utility Classes */

.btn {
  background: none;
  border: none;
}

.btn-carousel {
  color: var(--w);
  background-color: var(--cs1);
  padding: 0.5rem 1rem;
  margin-top: 1rem;
}

.btn-quote {
  color: var(--w);
  background-color: var(--cs1);
  padding: 0.5rem 1rem;
}

/* Some resets... */

img {
  display: block;
  width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Header Area */

header {
  position: relative;
  background: url("../img/storefront.png") no-repeat center center / cover,
    linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 100%);
  height: 350px;
}

/* Nav */

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

header nav .main-header {
  color: var(--w);
  font-size: 22px;
  font-weight: 600;
}

header nav .main-header > span {
  font-weight: 300;
}

header nav .nav-disabled {
  display: none;
}

/* Hero */

header .hero .hero-section {
  height: 100%;
}

/* Carousel */

header .hero .carousel {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, 50%);
  text-align: center;
  width: 100%;
  padding: 0 1rem;
}

header .hero .carousel-text {
  color: var(--w);
  font-weight: 500;
}

/* Quotation Area */

.quote-area {
  background-color: var(--cs3);
  padding: 0.5rem 1rem;
  text-align: center;
  width: auto;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.quote-area .quote-head {
  margin-bottom: 1rem;
  font-size: 20px;
}

.quote-area button {
  display: block;
  width: 300px;
  margin-top: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  font-weight: 16px;
}

/* Quote Form */

.quote-area form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.quote-area form input {
  border: 1px solid #e5e7f2;
  padding: 0.5rem 1rem;
  margin-top: 0.25rem;
  font-family: inherit;
  font-size: 14px;
  width: 300px;
}

/* Main Content Area */

main .main-top {
  text-align: center;
  margin-top: 2rem;
}

.main-title {
  font-size: 32px;
  padding: 0.5rem 1rem;
}

main .main-top .main-para {
  font-weight: 500;
  margin-top: 0.75rem;
  padding: 0.5rem 1rem;
  line-height: 1.3;
}

main .main-top .main-para:last-of-type {
  margin-bottom: 2rem;
}

/* Features Area */

main .features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

main .features .feature {
  display: grid;
  align-items: center;
  grid-template-columns: 50px 1fr;
  gap: 20px;
}

main .features .feature:first-of-type {
  margin-top: 1rem;
}

main .features .feature:last-of-type {
  margin-bottom: 1rem;
}

main .features .feature .feature-check {
  width: 45px;
}

/* Footer Area */

footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: var(--cs1);
}

footer .footer-title {
  font-size: 32px;
  color: var(--w);
  text-align: center;
}

footer iframe {
  border: none !important;
  outline: none !important;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

footer .footer-area {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  color: var(--w);
}

footer .footer-area .foot:not(:last-of-type) {
  padding-right: 2rem;
}

footer .footer-area .name {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 0.25rem;
}

footer .footer-area .name > .footer-span {
  font-weight: 300;
}
